<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Md. Shahajahan Ali">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font-awesome-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">

    <title>CrudVuePhp</title>
    <!-- Favicon.ico -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <style>
      /*Registered modal form design here */
      #overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row bg-dark">
          <div class="col-lg-12">
            <p class="text-center text-light pt-2" style="font-size: 25px">
              CRUD Application Using Vue.js, PHP, MySQLi
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-3">
          <div class="col-12 col-sm-6">
            <h3 class="text-info">Registered Users</h3>
          </div>
          <div class="col-12 col-sm-6">
            <button class="btn btn-info float-right">
              <i class="fas fa-user" @click="showAddModal=true">&nbsp;&nbsp;Add New User</i>
            </button>
          </div>
        </div>
        <hr class="bg-info">
        <div class="alert alert-danger" v-if="errorMsg">
          Error Message
        </div>
        <div class="alert alert-success" v-if="successMsg">
          Success Message
        </div>

        <!-- Displaying Records  -->
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr class="text-center bg-info text-light">
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Ottomdo@gmail.com</td>
                  <td>+88014572638</td>
                  <td><a href="#" class="text-success" @click="editAddModal=true"><i class="fas fa-edit"></i></a></td>
                  <td><a href="#" class="text-danger" @click="editDeleteModal=true"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
                <tr class="text-center">
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Ottomdo@gmail.com</td>
                  <td>+88014572638</td>
                  <td><a href="#" class="text-success" @click="editAddModal=true"><i class="fas fa-edit"></i></a></td>
                  <td><a href="#" class="text-danger" @click="editDeleteModal=true"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
                <tr class="text-center">
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Ottomdo@gmail.com</td>
                  <td>+88014572638</td>
                  <td><a href="#" class="text-success" @click="editAddModal=true"><i class="fas fa-edit"></i></a></td>
                  <td><a href="#" class="text-danger" @click="editDeleteModal=true"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
                <tr class="text-center">
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Ottomdo@gmail.com</td>
                  <td>+88014572638</td>
                  <td><a href="#" class="text-success" @click="editAddModal=true"><i class="fas fa-edit"></i></a></td>
                  <td><a href="#" class="text-danger" @click="editDeleteModal=true"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Add New User Model -->
      <div id="overlay" v-if="showAddModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="">Add New User</h5>
                <button type="button" class="close" @click="showAddModal=false">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
              <form action="" method="post">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Enter Name *" required>
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Enter E-mail *" required>
                </div>
                <div class="form-group">
                  <input type="tel" name="phone" class="form-control" placeholder="Enter Phone Number *" required>
                </div>
                <div class="form-group">
                  <button class="btn btn-info btn-block" @click="showAddModal=false">Add User</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit User Model -->
      <div id="overlay" v-if="editAddModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="">Edit User</h5>
                <button type="button" class="close" @click="editAddModal=false">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
              <form action="" method="post">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Enter Name *" required>
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Enter E-mail *" required>
                </div>
                <div class="form-group">
                  <input type="tel" name="phone" class="form-control" placeholder="Enter Phone Number *" required>
                </div>
                <div class="form-group">
                  <button class="btn btn-info btn-block" @click="editAddModal=false">Update User</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit User Model -->
      <div id="overlay" v-if="editDeleteModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="">Delete User</h5>
                <button type="button" class="close" @click="editDeleteModal=false">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
              <h4 class="text-danger">Are you sure want to delete this user ?</h4>
              <h5 class="">You are deleting "dfkjdf"</h5>
              <hr>
              <button class="btn btn-danger" @click="editDeleteModal=false">Yes</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-success" @click="editDeleteModal=false">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>